body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-program {
  border: double;
  width: 200px;
  border-radius: 10px;
}

.card {
  background-color: seashell;
  margin: 5px;
}

.hand{
  padding: 10px;
  width: min-content;
  display:flex;
}

#hand-player {
  background-color: aquamarine;
}

#hand-opponent{
  background-color: rgb(255, 188, 188);
}