body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  background-color: blue;
  width: 40%;
  float: left;

}
.formulario{
  width: 20%;
  background: tomato;
  float: right;
}

.hand{
  width: 20%;
  height: 500px;
  background: royalblue;
  float: right;
}


.dado{
  background :seashell;
  border: 3px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
}

.cell{
  border: 2px solid transparent;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: rgb(197, 69, 114);
}
.cellEnabled{
  border: 2px solid darkorange;
}

.cellStart{
  background-color: rgb(255, 0, 0);
}
.cellPassagem{
  background-color: rgb(0, 255, 0);
}
.cellPorta{
  background-color: rgb(255, 255, 0);
}
.cellLivre{
  background-color: rgb(162, 0, 255);
}
.cellNull{
  background-color: rgb(0, 0, 0);
}

/* The Modal (background) */
.modalAcusar {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalMostrarCarta {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalAcusarBox {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modalAcusarClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalAcusarClose:hover,
.modalAcusarClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.homeDiv{
  width: 100%;
  display: inline-table;
}


.palpite{
  width: 100px;
  background-color: blue;
  float: left;
}

.acusar{
  width: 100px;
  background-color: blueviolet;
  float: left;
}